@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
#projectContainer > * {
  font-family: "Press Start 2P", cursive;
}

#projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  position: relative;
  background-image: url("./assets/tetris_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#game-canvas {
}

#gameOverContainer,
#startGameContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: black;
  border: 4px dashed white;
  font-size: 24px;
  padding: 20px;
}

#playButton,
#playAgainButton {
  color: white;
  background-color: black;
  border: 2px dashed white;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 3px;
  font-family: "Press Start 2P", cursive;
}
#playButton:hover,
#playAgainButton:hover {
  cursor: pointer;
  background-color: orange;
}

#scoreBoard {
  width: fit-content;
  height: fit-content;
  padding: 30px;
  font-size: 36px;
  color: white;
}
