@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
#projectContainer > * {
  font-family: "Press Start 2P", cursive;
}

#projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#cornerButtons {
  position: absolute;
  top: 12px;
  right: 12px;
}

#subContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#cornerPause:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#scoreBoard {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 10px;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
}

#gameOverContainer,
#startGameContainer,
#pauseGameContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: black;
  border: 4px solid rgb(127, 255, 212);
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  width: 81%;
}
#startGameContainer {
  background-color: rgba(127, 255, 212, 0.2);
}
#gameOverContainer {
  width: 99%;
}
#gameOverContainer span:nth-child(1) {
  align-self: center;
}

#playButton,
#playAgainButton,
#resumeButton {
  color: white;
  background-color: black;
  border: 2px solid aquamarine;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 3px;
  font-family: "Press Start 2P", cursive;
}
#playAgainButton {
  align-self: center;
}
#playButton:hover,
#playAgainButton:hover,
#resumeButton:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: black;
}
